<h2>Articles</h2>

{{#if article}}
  <div class="article">
    <h3>Title: {{article.title}}</h3>
    <h3>Body: {{article.body}}</h3>
    <h3>Author: {{article.author}}</h3>
    <h3>UrlTitle: {{article.urltitle}}</h3>
  </div>
{{/if}}

{{#each articles}}
  <div class="article">
    <h3>Title: {{title}}</h3>
    <h3>Body: {{body}}</h3>
    <h3>Author: {{author}}</h3>
    <h3>UrlTitle: {{urltitle}}</h3>
  </div>
{{/each}}